*{
    list-style: none;
    /* liの・を消す */
    text-decoration: none; /*リンクしたの線を消す*/
}

body {
    padding-top: 125px;
    padding-left: 160px;
}

table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}

th,td {
    border: solid 1px black;
    width: 20%;              /* 枠線指定 */
}

th{
    background-color: gray;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom:  solid 1px black;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper img{
    height: 70px;
    width: 70px;
}
.header-left{
}
.header-right{
    display: flex;
    right: 10px;
}

.header-wrapper div{
    margin: 15px;
}



.sidebar{
    position: fixed;
    height: 100%;
    top: 121px;
    left: 0;
    border-right:  solid 1px black;
}

.sidebar ul a{
    display:block;
    margin-right: 20px;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: rgb(59, 136, 136);
    font-size: 20px;
}

.return_button{
    text-align: right;
}

.return_button button{
    margin-right: 25px;
}

.home_nav_wrapper{
    margin: 25px;
}

.home_nav_wrapper ul{
    display: flex;
}

.home_nav_wrapper ul li{
    margin: 25px;
}

.table_wrapper{
    margin: 25px;
}

.table_wrapper button{
    text-align: right;
}

.table_wrapper table{
    margin: 15px;
}



